/* Dateselector Widget Cascading Style Sheet 
** Theme: Light Grey
** Initial Build
** TMG Front End Assesment 
**/

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.dateselector-ui-wrapper {
	font-family: 'Open Sans', sans-serif;
}

.dateselector-ui-wrapper input[type=text] {
	background: url('../img/calendar.png') no-repeat;
	background-position: 99% 50%;
	background-size: auto;
	border: solid 2px rgba(144, 144, 144, 0.15);
	outline: 0;
	padding: .6em;
	margin: 1.3em 0;
	font-family: 'Raleway', sans-serif;	
	font-size: .9em;			
	color: #606060;	
	/* Radius */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* Sizing */	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Transition */
	-webkit-transition: border 0.4s ease-in-out;
	-moz-transition: border 0.4s ease-in-out;
	transition: border 0.4s ease-in-out;
}
.dateselector-ui-wrapper input[type=text]:hover {
	border: 2px solid rgba(0, 162, 211, 0.3);		
}
.dateselector-ui-wrapper input[type=text]:focus {
	background: url('../img/calendar-hover.png') no-repeat;
	background-position: 99% 50%;
	background-size: auto;
}

.dateselector-ui-wrapper {
	position: relative;
}

.dateselector-ui-table {
	border: none;
	-webkit-box-shadow: 0px 24px 24px -24px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 24px 24px -24px rgba(0,0,0,.2);
	box-shadow: 0px 24px 24px -24px rgba(0,0,0,.2);	
	border-spacing: 0;
	border-collapse: collapse;	
	display: none;
	position: absolute;	
	z-index: 10;
	top: 80px;
	/* User Selection */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dateselector-ui-table:after {
	content: '';
	width: 1px; 
	height: 1px; 
	border-left: 15px solid transparent;
	border-bottom: 30px solid #F2F2F2; 	
	border-right: 15px solid transparent;
	position: absolute;
	z-index: -100;
	top: -30px;
	left: 45%;
	margin-left: -15px;
	overflow: hidden;
}

.dateselector-ui-table th {
	padding: 5px ;
	font-size: 1em;
	border-width: 0 2px 0 0;
	border-style: solid;
	border-color: #E5E5E5;
	background: linear-gradient(#F4F4F4, #E5E5E5);
	color: #444;
}

.dateselector-ui-table td {
	background-color: #F4F4F4;
	padding: .15em;
	color: #666;
	font-weight: bold;
	cursor: pointer;
	font-size: .9em;
	text-align: center;
	border: 2px solid #E5E5E5;
	display: table-cell;
	-webkit-transition: 0.2s background-color ease;
	-moz-transition: 0.2s background-color ease;
	transition: 0.2s background-color ease;
	position: relative;
}

.dateselector-ui-table td:first-child {
	border-left: 0;
}

.dateselector-ui-table td:hover {
	background-color: #D1BDD8;
	color: #444;
}

.dateselector-ui-table td.current {
	background-color: #421E4E;
	color: #fff;
}

.dateselector-ui-table td.disabled, th.disabled {
	color: #ccc;		
}

.dateselector-ui-table td.current.disabled {
	background-color: #421E4E;
	color: #fff;
}

.dateselector-ui-table td.current.disabled:hover {
	background-color: #421E4E;
	color: #fff;
}

.dateselector-ui-table td.disabled:hover, th.disabled:hover {
	background-color: #F4F4F4;
}

#dateselector-ui-backward,#dateselector-ui-forward {
	background: none;
	border: 0;
	font-size: 1em;
	color: #444;
}

#dateselector-ui-backward.disabled.dateselector-ui-max, #dateselector-ui-forward.disabled.dateselector-ui-max {
	color: #ccc;
}


/* Month / Year selector */
.dateselector-ui-table select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: linear-gradient(#F4F4F4, #E5E5E5);
	border: 0;
	color: #444;
	font-size: 1em;
	font-weight: bold;
	outline: 0;
	padding: 0.1em 0.3em;
}

/* Month list */
.dateselector-ui-table td#monthJan:before {
	content: 'JAN';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthFeb:before {
	content: 'FEB';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}


.dateselector-ui-table td#monthMar:before {
	content: 'MAR';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}


.dateselector-ui-table td#monthApr:before {
	content: 'APR';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}


.dateselector-ui-table td#monthMay:before {
	content: 'MAY';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}


.dateselector-ui-table td#monthJun:before {
	content: 'JUN';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthJul:before {
	content: 'JUL';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}


.dateselector-ui-table td#monthAug:before {
	content: 'AUG';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthSep:before {
	content: 'SEP';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthOct:before {
	content: 'OCT';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthNov:before {
	content: 'NOV';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}

.dateselector-ui-table td#monthDec:before {
	content: 'DEC';
	background-color: #444;
	color: #fff;
	font-weight: bold;	
	font-size: 9px;
	padding: 0 1px;
	width: 8px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;	
	word-break: break-all;
}