﻿@charset "utf-8";
.terms-font
{
	text-align:justify;
	font-size:13px;
	font-family:helvetica;
	margin-left: 15px;
}
.error{
  display: none;
}


.hr1
{
	margin-top: -10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #DF6666;
}


body
{
font-family:helvetica;
}
a, img {
    border:none;
}
.text-color{
	color: #c1272d;
}
.font-size-16px
{
	font-size: 16px;
}
.font-size-20px
{
	font-size: 20px;
}
a {
    text-decoration:none;
	color:inherit;
}
a:link {
    text-decoration:none;
}


a:hover {
    text-decoration:none;
}

    a:active {

    }
* {
    margin: 0;
    padding:0;
}

.posLeft {
    float:left;
	/*width:250px;*/
	width:242px;
}

.posRight{
    float:right;
}

/*#page {

	width:100%;
    padding: 0;
    margin: 0 auto;
    background: #fff no-repeat;
}

#header {
    padding: 10px 35px;
    position: relative;
    overflow: hidden;
    background: #E5E5E5 no-repeat;
}

#bmlLogo {
    display: inline-block;
    float: left;
}
*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background:#C1272D;

    border:1px solid #C1272D;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.border-radius-5px
{
  border-radius:5px;
}
.padding-0px
{
  padding:0px;
}
.border-bottom-1px-solid-fff
{
  border-bottom: 1px solid #fff !important;
}
.background-color-#fff
{
  background-color: #fff !important;
}
.width-300px
{
  width:300px !important;
}
.width-100
{
  width: 100% !important;
}
.padding-bottom-5px
{
  padding-bottom:5px !important;
}
.float-right
{
  float:right !important;
}
.cursor-pointer
{
  cursor:pointer !important;
}
.background-EC9817
{
  background: #EC9817 !important;
}
.color-000
{
  color: #000 !important;
}
.height-80px
{
  height:80px !important;
}
.width-130px
{
  width:130px;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    height: 140px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:65%;
    height:100px;
}
.nbs-flexisel-item p{
	font-size: 13px;
	font-weight: 600;
	color: white;
	text-align: center;

}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -250px;
    color: white;
  	font-size: 26px;
  }


.nbs-flexisel-nav-right {
    right: -45px;
    color: white;
  	font-size: 26px;

}

#search {
    /*display: inline-block;*/
    width: 65%;
    float:left;
  /*  padding:0 75px;*/
}

#callus {
    text-align: right;
    display: inline-block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    color: #c1272c;
    width: 11.8%;
}

#facebook_icon{
	height:30px;
	width:30px;
	border-radius:100%;
	margin-right:5px;
	float:left;
	background:url('../img/social_media_icon_small.png') -1px -1px;
}

#gplus_icon{
	height:30px;
	width:30px;
	border-radius:100%;
	margin-right:5px;
	float:left;
	background:url('../img/social_media_icon_small.png') -100px -1px;
}

#twitter_icon{
	height:30px;
	width:30px;
	border-radius:100%;
	margin-right:5px;
	float:left;
	background:url('../img/social_media_icon_small.png') -67px -3px;
}

.imgbml {
    background: url(images/s.png) no-repeat;
}


#call {
    /* font-family: helvetica; */
    font-family:impact;
    /* font-size: 20px; */
    font-size: 27px;
    /* font-weight: bold; */
    font-weight:normal;
    color: #c1272c;
    display: inline-block;
	margin-top:15px;
	line-height:20px;
}

#phone {
    display: inline-block;
    float: left;
    width: 11.8%;
    font-family: helvetica;
    text-align: right;
}

#phoneNo {
    /* font-family: helvetica; */
    font-family:impact;
    /* font-size: 22px; */
    font-size:24px;
    /* font-weight: bold; */
    font-weight:normal;
    color: #c1272c;
}

#timing {
    font-family: helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #c1272c;
    margin-bottom:20px;
}


/*class css*/

#tagline {
    /*text-align: right;*/
    color: #7f7f7f;
    font-family: helvetica;
    font-size: 13px;
    font-weight: bold;
    padding: 17px 0 15px 0;

	/*margin-left:455px;*/
    margin-top:-5px;
    color: #ca0f0f;
    margin-left:11px;
}

#searchbutton {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

/*.searchBox {
    height: 33px;
    width: 673px;
    /* -moz-border-radius:6px;
     border-radius:6px;
     -webkit-border-radius:6px;*/
    /* border-top-left-radius: 10px 5px;
	border-radius: 8px;*/

  /*  display: inline-block;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}*/

#searchBox {
    height: 38px;
    /*width: 643px;*/
    /* -moz-border-radius:6px;
     border-radius:6px;
     -webkit-border-radius:6px;*/
    /* border-top-left-radius: 10px 5px;
	border-radius: 8px;*/
    border-left:0px;
    border-top:0px;
    display: inline-block;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
	margin-left:0px;
    border:none;
    padding-top: -1px;
    /*margin-top:1px;*/
	margin-top:0px;
}


#custombutton {
    height: 30px;
    width: 10%;
    /* -moz-border-radius:6px;
     border-radius:6px;
     -webkit-border-radius:6px;*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /*border-top-right-radius: 10px;*/
    display: inline-block;
    margin-left: 40px;
}


#menu {
 background-color:#c1272d;
 padding:5px 0;
 display:inline-block;


}
.holiday
{
	font-size:10px;
	font-weight:bold;

}

.leftimage
{
font-size:20px;
font-weight:bold;
color:white;
font-family: 'helvetica', 'Geneva CE', lucida, sans-serif;

}
.font-size-10px
{
  font-size: 10px;
}
.margin-top-66px
{
  margin-top:66px;
}


/*end*/

/* main body part */

#mainbody
{
/*display:inline-block;float:left;margin:50px 130px 0 130px;*/
width:75%;display:inline-block; float:left; margin: 0 100px;
}


/*end */


.text-color-green
{
	color: green;
}




/*menu*/

#wrap	{

	background-color: #c1272d;
	overflow:visible;
    position: relative;
	z-index: 99;

	}

/*end */


/* footer */
#footer
{
	width:100%;
	background: #c1272d  no-repeat;
    display:inline-block;
}

.footer
{
	text-align:right;
	font-weight:bold;
	color:white;


}
/*footer*/


/* Body image boxes */
#category {
    position: relative;
	overflow: hidden;
	width:85%;
	margin:0 100px;
	/*display:block;*/
}

#categoryPage {
    display:inline-block; float:left; margin-top:8px;
}
.category_design
{
	width:100%;
	height:200px;
	display:inline-block;
	font-weight:bold;
	position:relative;
	overflow:hidden;
    padding:8px;

	margin:15px 0 0 5px;
}
.padding-right-0px
{
	padding-right: 0px;
}

#category_dslr
{
	background: #ffbc04;
	background-position:center;
	margin-left:-15px;
}

#category_prime
{
	background: #666666;
    background-position:center;
	margin-left:-15px;
}

#category_wideangle
{
	background: #c1272d;
    background-position:center;
	margin-left:-15px;
}

#category_standard
{
	background: #0d77b6;
	background-position:center;
	margin-left:-15px;
}


#category_telephoto
{
	background: #2da121  ;
	background-position:center;
	margin-left:-15px;
}


#category_macro
{
	background: #0d77b6 ;
	background-position:center;
	margin-left:-15px;
}


#category_extender
{
    background: #ffbc04;
	background-position:center;
	margin-left:-15px;
}


#category_fisheye
{
	background: #666666;
	background-position:center;
	margin-left:-15px;
}


#category_video
{
	background: #666666;
	/*width:516px;*/
	/*width:409px;*/
	width:416px;
	background-position:center;
	margin-left:-15px;
}

#category_accessories
{
	background: #2da121;
	background-position:center;
	margin-left:-15px;
}

#category_cam
{
	background: #c1272d;
	background-position:center;
	margin-left:-15px;
}

#contentdesign
{
	/* font-variant-caps:all-petite-caps; */
	font-family:impact;
	font-weight:normal;
	text-align:left;
	position:absolute;
	/*bottom:5px;*/
	bottom:-10px;
	left:10px;
	font-size:21px;
    color:#fff;
}

#contentdesignaccount
{
	font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	bottom:5px;
	left:10px;
	font-size:5px;
    color:#fff;
}


#contentdesign_popup
{
	font-variant-caps:all-petite-caps;
	text-align:center;
	position:absolute;
	font-weight:bold;
	font-size:12px;
    color:white;
}
.color-fff
{
  color:#fff !important;
}
.background-d74a28
{
  background: #d74a28 !important;
}
.margin-left-8px
{
  margin-left: 8px !important;
}
.margin-left-25px
{
  margin-left: 25px !important;
}
.padding--1px
{
  padding: -1px !important;
}
.padding-bottom-0px
{
  padding-bottom: 0px !important;
}
.background-a3a3a3
{
  background:#a3a3a3 !important;
}
.height-auto
{
  height: auto !important;
}
.width-217px
{
  width: 217px !important;
}

.category_content
{
	color:white;
	font-weight:bold;
	text-align:left;
	margin-top:0px;
	font-size:13px;
}

/* end */

.wrapper {
    position: relative;
    padding: 0;
    width:100px;
    display:block;
}
.text {
  position: absolute;
  top: 0;
  color:#f00;
  background-color:rgba(199,60,66,0.8);
  width:100%;
	height:193px;
    line-height:100px;
    text-align: center;
	/*margin-top:-20px;*/

    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.text:hover {
    opacity:100000;
}




.text_test
{
 position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(199,60,66,0.8);
    width: 325px;
    height: 200px;
    line-height:100px;
    text-align: center;
	margin-top:-20px;
	margin-left:-33px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.text_test:hover
{
opacity:100000;
}

img {
    z-index:1;
}

/*.imagebox1
{
/*float:left;
background: #666666 ;
width:220px;
height:200px;
display:inline-block;
font-weight:bold;
position:relative;
margin-left:15px;
margin-top:15px;
}
*/


.imagebox1-hover
{
	display:none;
float:left;
margin-top:5px;
width:100%;
	height:190px;
}
.category_design:hover .imagebox1-hover
{
	 display:block;
	float:left;
	margin-top:5px;
}

.top5content
{
	/* font-weight:bold; */
	font-weight:normal;
	font-family:impact;
	font-weight:normal;
	position:relative;

	width:100%;
	height:190px;
	margin-top:-25px;

}

.edit_Title {
  font-size: 15px;
  color: #c1272d;
  /* margin-left: 20px; */
  margin-left: -1px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: helvetica;
}
#check {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  width: 90px;
  height: 38px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0 solid #FFFFFF;
  margin-left: 40px;
}

.top5Video {
    /*width:406px;*/
   /*  width:394px; */
   width:400px;
}

.top5content ul {
list-style:disc;
line-height:20px;
}

#dslr-hovertest
{
background: #b98600;
border-color:#ffbc04;

}

#prime-hovertest
{
background:  #3f3f3f;
border-color:#666666;
}


#wide-hovertest
{
background: #74171b;
border-color:#c1272d;
}

#standard-hovertest
{
background: #074569;
border-color:#0d77b6;
}

#telephoto-hovertest
{
background: #1a5a12;
border-color:#2da121;
}

#macro-hovertest
{
background: #074569;
border-color:#0d77b6;
}

#extender-hovertest
{
background: #b98600  ;
border-color:#ffbc04;
}

#fisheye-hovertest
{
background: #3f3f3f  ;
border-color:#666666;
}

#video-hovertest
{
background: #3f3f3f  ;
border-color:#666666;
}

#accessories-hovertest
{
background: #1a5a12;
border-color:#2da121;
}

#cam-hovertest
{
background: #74171b;
border-color:#c1272d;
}


/*popup display designs */

/*image slider*/

#overlay {
position: absolute;
top: 143px;
left: 75px;
width: 88.9%;
height: 115%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: absolute;
z-index: 101;
}
.cnt223{
min-width: 1000px;
width: 600px;
min-height: 150px;
margin: 50px 89px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
color: #555555;
text-align: justify;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}




/*2nd popup */

.cnt2231 a{
text-decoration: none;
}
.popup1{
width: 100%;
margin: 0 auto;
display: none;
position: absolute;
z-index: 101;
}
.cnt2231{
min-width: 1000px;
width: 600px;
min-height: 175px;
margin: 529px 89px auto;
background: #f3f3f3;
position: absolute;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt2231 p{
clear: both;
color: #555555;
text-align: justify;
}
.cnt2231 p a{
color: #d91900;
font-weight: bold;
}
.cnt2231 .x{
float: right;
height: 35px;
left: 22px;
position: absolute;
top: -25px;
width: 34px;
}
.cnt2231 .x:hover{
cursor: pointer;
}





/* product image boxes */


#contentdesign1
{
	/*font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	bottom:0;
	left:0;
	font-family:helvetica;
	background: #c1272d;
	width:272px;*/
	font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	bottom:0;
	left:0;
	font-family:helvetica;
	background: #c1272d;
	width:325px;
	color:white;
	font-weight:bold;
}

.productimagebox1
{
	margin:8px 0 0 8px;
	background: white;
	width:100%;
	height:240px;
	display:inline-block;
	position:relative;
	font-weight:bold;
	border-style:solid;
	overflow:hidden;
	border-width:7px;
	border-color:#c1272d;

}

.firstCol
{
    margin:15px 0 0 5px;
}

#productimagebox0-hovertest
{
background: #ffbc04;
font-weight:bold;
position:relative;
width:270px;
height:182px;
margin-top:-157px;
}



/*product page  */

#itemimage
{
	margin-left:15px;
	background:white;

	width:500px;
	height:350px;
	display:inline-block;
	position:relative;
	font-weight:bold;
	margin-top:15px;
}

#itemcontentdesign
{
	font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	bottom:0;
	left:0;
	font-family:helvetica;
	background: #c1272d;
	color:white;
	width:490px;
	padding-left:10px;

}

#itemcontentalign
{
	font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	font-family:helvetica;
	background: #c1272d;
	color:white;
	width:490px;
	padding-left:10px;
}


/*table
{
margin-top:50px;
margin-left:25px;

border-collapse: separate;
}
table, td, th
{
border:1px solid #e0656b;

height:30px;
/*idth:400px;
text-align:center;
margin : 2px 2px 2px 2px;


}*/

#calendarbox
{
	margin-left:15px;
	background:white;
	width:1020px;
	height:100px;
	display:inline-block;
	position:relative;
	font-weight:bold;
	margin-top:12px;
}


#sampleshots
{
	margin-left:15px;
	background:white;
	width:1020px;
	height:150px;
	display:inline-block;
	position:relative;
	font-weight:bold;
	margin-top:12px;
}


.imgThumbnail
{

bottom:0px;
right:5px;
position:absolute;
}


.wide_small_img
{

bottom:5px;
right:5px;
text-align:right;
margin-left:132px;
width:80px;
height:50px;
margin-top:30px;
border:none;
}

.standard_small_img
{
 bottom:5px;right:5px;align:right;margin-left:132px;width:80px;height:50px;margin-top:5px;border:none;
 }

 .telephoto_small_img
 {
  bottom:5px;right:5px;align:right;margin-left:132px;width:80px;height:60px;margin-top:15px;border:none;
 }

 .fish_small_img
 {
  bottom:5px;right:5px;align:right;margin-left:132px;width:80px;height:50px;margin-top:110px;

}

.video_small_img
{
 bottom:5px;right:5px;align:right;margin-left:285px;width:150px;height:70px;margin-top:-20px;
 }


 /*product body*/

 #productbody
 {

 }



 .product_view
 {
 height:200px;width:100%;

 }

   .currSel {
    background-color:#74171B;
}
#rentalSubMenu {

    width: 15%;float:left;display:none;
    background-color:#c1272d;
}

/* view cart */

#viewSubMenu {
    width: 15%;float:right;display:none;
    background-color:#c1272d;
}

/* end of viewcart */

#show{
    width: 18%;float:left; height: 990px; padding: 5px;display:none;
    display:inline-block;
    background-color:blue;
}


#verticalmenu{background-color: #acacac; width: 10%; line-height: 2; display: block;
border: 1mm solid #000000;}

#verticalmenu li ul { display: none; }

#verticalmenu li:hover > ul { display: block; background-color: #eeeccc;
list-style: none; padding: 0; margin: 0;}



.top5 {
    color:#fff;
    font-size:12px;
    font-family:helvetica;
	list-style-type: dot;
	margin-left:20px;
	margin-top:12px;
}

.top5heading
{
color:#fff;text-align:center;font-size:20px;font-weight:normal;padding-top:5px;
}


#container
{
	min-height:500px;
	display:inline-block;
	width:99%;
	background: #fff;
	padding: 10px 5px;
  }

  #sideBar
{
    float:left;
    display:inline-block;
    width: 20%;
    margin-top:15px;
    font-family: 'arial', 'Geneva CE', lucida, sans-serif;
}
#verMenu
{
    width: 100%;
    text-align:left;

    }
#verMenu, #verMenu ul
{
	list-style : none;

}

#verMenu a
{
    font-size: 14px;
    font-weight: bold;
	display : block;
	padding : 0.5em 0.8em;
}

#verMenu a:hover{text-decoration:underline;}
#verMenu ul a
{
    border:none;
    background-color:#fff;
	font-size:14px;
	white-space:nowrap;
	overflow:visible;
	font-weight: bold;
	padding : 0.3em 2em;


}
#verMenu ul  li a:hover
{
	background:red;
}

#verMenu ul  li a
{
	background:red;
}

.semititle
{
margin-left:20px;
}


#cart {
    background-image:url("../images/shopcart.png");
    background-repeat:no-repeat;
   background-position:right;
   width:110px;
   height:20px;
   margin-top:-5px;
}

#content {
    margin-top:0px;
    position:relative;

}

.parent_label a {
padding: 12px;
text-decoration: none;
color: white;
display: block;
border-bottom:2px solid #D74A28;
}


/*****/

.parent_label1 a {
padding: 12px;
text-decoration: none;
color: white;
display: block;

}


/*****/


.child_pad label {
padding: 12px 0 12px 35px;
text-decoration: none;
color: white;
display:block;
border-bottom:2px solid #D74A28;

}


    .parent_label label:hover{
    background-color:#FFBC04;
    }

    .child_pad label:hover {
    background-color:#FFBC04;
    }
    .parent_label label:hover > .child_pad{
    display:block;
    }



	/* product */

#product_view
 {
 /*background: url(../product_image/BML_BLR_Canon_50_1.png) no-repeat;*/
 height:136px;
 width:150px;
 margin-top:20px;
 margin-left:33px;
}

 #productimagebox1
{
	margin-left:18px;
	/*background: #666666 url(images/prime_large.png) no-repeat; */
	background: white;
	/*width:325px; */
	width:285px;
	height:220px;
	display:inline-block;
	position:relative;
	border-style:solid;
	overflow:hidden;
	border-width:5px;
	border-color:#c1272d;
	margin-top:20px;
}

#productimagebox2
{
	margin-left:18px;
	/*background: #666666 url(images/prime_large.png) no-repeat; */
	background: white;
	width:325px;
	height:220px;
	display:inline-block;
	position:relative;

	border-style:solid;
	overflow:hidden;
	border-width:5px;
	border-color:#c1272d;
	margin-top:20px;
}


.onclick {
    position: absolute;
    top: 0;
    font-size:11px;
	font-weight:none;
    background-color:rgba(199,60,66,0.8);
   /* width: 336px;
	height:215px;*/
    width: 272px;
    height:200px;

    text-align: center;
	margin-top:-10px;
	margin-left:0px;
    z-index: 10;
    opacity: 100000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	display:run-in;
}

.onhover{
    position: absolute;
    top: 0;
    font-size:11px;
	font-weight:none;
    background-color:rgba(199,60,66,0.8);
   /* width: 336px;
	height:215px;*/
    width: 100%;
    height:190px;
    text-align: center;
    z-index: 10;
    opacity: 100000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	display:run-in;
}


 .priceTable
  {
      margin:20px 10px 20px 0px;
      padding:0px;
      background:#ffbc04;
      display:inline-block;
      width:85%;

  }

  .priceTableCol{
  width:49%;
  float:left;
  border:1px solid #cfcfcf;
  text-align:center;
  padding-top:6px;
  font-size:11px;

  }

  .priceTableHeading{
  width:49%;
  float:left;
  border:1px solid #cfcfcf;
  text-align:center;
  padding-top:4px;
  font-size:11px;
  height:25px;
  font-weight:bold;

  }

  .view_priceTable
  {
      margin:0;
      padding:0px;
      background:white;
      display:inline-block;
      width:273px;
	  margin-top:30px;

  }
  @media screen and (max-width: 844px) {
  	.hr1{
  		margin: 15px 0px;
  		}
  }
  @media screen and (min-width: 992px) {
  	#height-350px
  	{
  		height: 350px;
  		min-height: 350px;
  	}
  }

  @media screen and (min-width: 845px) {
  .vr{
  	width: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 445px;
  margin-top: 20px;
  margin-left: -8px;
  }
  .margin-top-50px
  {
  	margin-top: 50px !important;
  }
  .margin-top-25px
  {
  	margin-top: 25px !important;
  }
}
.margin-top-15px
  {
  	margin-top: 25px !important;
  }
  .privacy-title
  {
  	color: #c1272d;
  	font-size: 15px;
  	font-family: helvetica;
  	font-weight: bold;
  }
  .forgotDesign {
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #c53332;
  margin-left: 82px;
  cursor: pointer;
}
#forgotpassword
{

}

  .policy-content
  {
  	font-size: 13px;
  	font-family: helvetica;
  }
  .margin-top-5px
  {
  	margin-top: 5px !important;
  }

  .view_priceTableCol{
  width:49%;
  float:left;
  border:1px solid #dd575e;
  text-align:center;
  padding-top:6px;
  font-size:11px;
  }

  .view_priceTableHeading{
  width:49%;
  float:left;
  border:1px solid #dd575e;
  text-align:center;
  padding-top:4px;
  font-size:11px;
  height:25px;
  font-weight:bold;
  }

 .price_display
 {
 float:right;
 text-decoration:none;
 color:inherit;
 }
 .font-size-11px
 {
  font-size: 11px !important;
 }
 .line-height-26px
 {
  line-height:26px !important;
 }
 .border-2px-solid-999
 {
  border:2px solid #999 !important;
 }

 /* rent page  */

 #rent_page_design
{
	/*width:450px;*/
	/*height:auto;
	display:inline-block;*/
	font-weight:bold;
	position:relative;
	overflow:hidden;
	/*margin-top:40px;*/
	background:#c1272d;
	border-radius:5px;
	/*margin-left:20px;*/
}

#rent_page_calendar
{
	width:594px;
	height:auto;
	display:inline-block;
	font-weight:bold;
	position:relative;
	overflow:hidden;
	margin-left:20px;
	margin-top:30px;
}

#rent-content
{
color:white;
width:200px;
display:inline-block;
overflow:hidden;
font-size:12px;
margin-left:15px;
}

.rent-btn
{
	margin-left:10px;
	display:inline-block;
	overflow:hidden;
	background:red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#rent-calendar
{
width:300px;
height:325px;
}

.shipping_address
{

width:200px;
display:inline-block;
overflow:hidden;
font-size:12px;
margin-left:15px;
}


.viewcart_btn
{
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#ffbc04;
	height:28px;
	width:150px;
	margin-left:5px;
	/*border-color:black;*/
    color: black;


}

#productview_desc
{
	width:800px;
	height:350px;
	display:inline-block;
	font-weight:bold;
	position:relative;
	overflow:hidden;
    padding:10px;

}

#productview_image
{
	width:200px;
	height:350px;
	display:inline-block;
	font-weight:bold;
	position:relative;
	overflow:`hidden;
    padding:10px;

}


#hovered_content { display: none; }

#hovered_content1{ display: none; }

#hovered_content2{ display: none; }

#hovered_content3{ display: none; }

#hovered_content4{ display: none; }

#hovered_content5{ display: none; }

#hovered_content6{ display: none; }

#hovered_content7{ display: none; }

#hovered_content8{ display: none; }

#hovered_content9{ display: none; }

#hovered_content10{ display: none; }

#hovered_content11{ display: none; }

#hovered_content12{ display: none; }

#hovered_content13{ 	display: none; }

#hovered_content14{ display: none; }

#hovered_content15{ display: none; }

#hovered_content16{ display: none; }

#hovered_content17{ display: none; }

#hovered_content18{ display: none; }

#hovered_content19{ display: none; }

#hovered_content20{ display: none; }

#hovered_content21{ display: none; }

#hovered_content22{ display: none; }

#hovered_content23{ display: none; }

#hovered_content24{ display: none; }

#hovered_content25{ display: none; }

#hovered_content26{ display: none; }

#hovered_content27{ display: none; }
#hovered_content28{ display: none; }
#hovered_content29{ display: none; }
#hovered_content30{ display: none; }
#hovered_content31{ display: none; }
#hovered_content32{ display: none; }
#hovered_content33{ display: none; }
#hovered_content34{ display: none; }

/* rent page */
.item_Cancel
{
	display:inline-block;
	overflow:hidden;
	width:10px;
}

.item_Image
{
	display:inline-block;
	overflow:hidden;
	width:97px;
}
.item_Name
{
	display:inline-block;
	overflow:hidden;
	font-size:12px;
	width:350px;
}

.item_Quantity
{
	display:inline-block;
	overflow:hidden;
	font-size:12px;
	width:110px;
}

.item_Price
{
	display:inline-block;
	overflow:hidden;
	font-size:12px;
	width:50px;
}


.item_SubtotalTitle
{
	display:inline-block;
	overflow:hidden;
	width:475px;
	font-size:12px;
	color:#c1272d;
	text-align:right;
}

.item_Subtotal
{
	display:inline-block;
	overflow:hidden;
	width:85px;
	text-align:right;
	font-size:12px;
}

.promo_CodeTitle
{
	display:inline-block;
	overflow:hidden;
	margin-left:180px;
	font-size:12px;
	color:#c1272d;
	width:80px;
}

.promo_CodeField
{
	display:inline-block;
	overflow:hidden;
	font-size:12px;
	width:90px;
	border-radius:5px;
}

.promo_CodeBtn
{
	display:inline-block;
	overflow:hidden;
	margin-left:3px;
	font-size:12px;
	color:#c1272d;
	width:150px;
	border-radius:5px;
}

.promo_CodePrice
{
	display:inline-block;
	overflow:hidden;
	width:50px;
	font-size:12px;
	text-align:right;
}


.shipping_box
{
	display:inline-block;
	overflow:hidden;
	margin-top:10px;
}

.checkout_btn
{
	width:200px;
	background:#c1272d;
	font-weight:bold;
	font-family:helvetica;
	height:30px;
	color:white;
	/*border:solid;*/
	border-radius:5px;
}

.promoCode_btn
{
	background:#c1272d;
	font-weight:bold;
	font-family:helvetica;
	color:white;
}

.rent_Contents
{
	display:inline-block;
	overflow:hidden;
	margin-top:10px;
	width:350px;
}



/*points table designs*/

.table-head
{
background-color:#c1272d;
}

#account_table table
{
border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:10px;
font-family:helvetica;
border-radius:5px;
font-size: 13px;
color:#0d77b6;
}

#account_table td
{

border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:8px;
font-family:helvetica;
font-size:13px;
border-radius:5px;
text-align:center;
font-size: 13px;
color:#0d77b6;

}
#account_table th
{
margin-top:10px;
border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:7px;
font-family:helvetica;
color:#c1272d;
border-radius:5px;
width:150px;
background:white;
font-size: 13px;
}


#order_table table
{
border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:10px;
font-family:helvetica;
border-radius:5px;
font-size: 13px;
color:#0d77b6;
}

#order_table td
{

border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:8px;
font-family:helvetica;
font-size:13px;
border-radius:5px;
text-align:center;
font-size: 13px;
color:#0d77b6;

}
#order_table th
{
margin-top:10px;
border-collapse:collapse;
border: 1px solid #dddddd;
margin : 2px 2px 2px 2px;
padding:7px;
font-family:helvetica;
color:#c1272d;
border-radius:5px;
background:white;
font-size: 13px;
}

#VerColMenu, #VerColMenu ul
{
	list-style : none;
	width : 15em;
	font-family:helvetica;
}
#VerColMenu a
{
	background : #F2F1F0;
	color : #c1272d;
	display : block;
	font-weight : bold;
	padding : 0.5em 1em;
	text-decoration: none;
	border-left: 12px solid #711515;
	border-right: 1px solid #711515;
	border-bottom: 1px solid #711515;
	font-family:helvetica;
}
#VerColMenu ul a
{
	background : #F2F1F0;
	color : #c1272d;
	font-weight : normal;
	font-family:helvetica;

}
#VerColMenu ul a:hover
{
	background : #F2F1F0;
	font-family:helvetica;
	color : #c1272d;
}

.showPrice {
        cursor:pointer;
        position: relative;
overflow: hidden;
/*padding: 0 0 0 105px;*/
width: 55px;
float: right;

    }


	.showPrice1{
        cursor:pointer;
        position: relative;
overflow: hidden;
width: 73px;
/*float: right;
text-align: right;  */
}


.showPrice2{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;
    }


.showPrice3{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;    }


.showPrice4{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice5{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice6{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice7{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice8{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice9{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice10{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice11{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice12{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice13{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice14{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice15{
        cursor:pointer;
        position: relative;
		overflow: hidden;
		width: 73px;   }

.showPrice16{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice17{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice18{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice19{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice20{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice21{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice22{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }



.showPrice23{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }



.showPrice24{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }

.showPrice25{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice26{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice27{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice28{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }

.showPrice29{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice30{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice31{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice32{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }

.showPrice33{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }


.showPrice34{
    cursor:pointer;
    position: relative;
    overflow: hidden;
    width: 73px;   }





.orderDesign12
{
display:inline-block; text-align:right;width:30%;font-weight:bold;margin-left:55px;
}

.accountVertMenu
{
margin:20px 0 0 20px;
display:inline-block;
overflow;hidden;border: 1px solid rgb(221, 221, 221);
border-radius:5px;
width:300px;
font-family:helvetica;
font-weight:bold;
}

.column {
    float: left;
    margin-top: 30px;

    margin-bottom: -1000px;
	font-family:helvetica;
	margin-left:150px;
}

#border_design
{
 border: 1px solid #dddddd;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 5px;
	font-family:helvetica;
	width: 960px;
	margin-left: 62px;
	margin-top: 20px;
}



#carousel_inner {
float:left; /* important for inline positioning */
width:970px; /* important (this width = width of list item(including margin) * items shown */
overflow: hidden;  /* important (hide the items outside the div) */
/* non-important styling bellow */
background: #c1272d;
}

#carousel_ul {
position:relative;
left:-210px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}
 @media screen and (max-width: 300px) {
  .ui-datepicker-multi .ui-datepicker-group {
 float:none;
}
}

#carousel_ul li{

float: left;
width: 222px;
padding: 0px;
height: 130px;
background: none repeat scroll 0% 0% rgb(0, 0, 0);
margin: 0px 12px;
}

#carousel_ul li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
cursor:pointer;
cursor: hand;
border:0px;
width: 222px;
height: 130px;
}
#left_scroll, #right_scroll{
float:left;
height:130px;
width:15px;
background: #c1272d;
}
#left_scroll img, #right_scroll img{
/*styling*/
cursor: pointer;
cursor: hand;
margin-top:50px;
}

.account_heading
{
width: 180px;

display: block;
text-shadow: 0px 1px 1px rgb(242, 241, 240);
font-size: 1.11em;
position: relative;
border-right-width: 0px;
border-bottom: 1px solid #c1272d;
margin: auto;
padding: 10px 15px !important;
color: rgb(193, 39, 45);
font-weight: bold;
font-family: helvetica;

}

.account_heading1
{
width: 180px;

display: block;
text-shadow: 0px 1px 1px rgb(242, 241, 240);
font-size: 1.11em;
position: relative;
border-right-width: 0px;
border-bottom: 1px solid #c1272d;
margin: auto;
padding: 10px 15px !important;
color: rgb(193, 39, 45);
font-weight: bold;
font-family: helvetica;
border-top: 1px solid #c1272d;
}


/*12-11*/

.gallery-wrap { margin: 0 auto; overflow: hidden; width: 732px; }
.gallery { position: relative; left: 0; top: 0; }
.gallery__item { float: left; list-style: none; margin-right: 20px; }
.gallery__img
{
display: block; border: 1px solid white;
 height: 150px;
 width: 150px;
 }

.gallery__controls { margin-top: 10px; }
.gallery__controls-prev
{
	cursor: pointer;

}
.gallery__controls-next { cursor: pointer; float: right; }

#Image
{
    position:relative;
}

.Image a
{
    position:absolute;
    display:block;
}
.border-top-1px-solid-C1272D
{
  border-top: 1px solid #C1272D !important;
}
.margin-0px
{
  margin:0px;
}

.read_more
{
	font-variant-caps:all-petite-caps;
	text-align:left;
	position:absolute;
	left:10px;
	font-size:15px;
	font-family:arial;
	margin-left:10px;
	margin-left: -196px;
	margin-top: -100px;
	font-weight: bold;
	color:inherit;
}


.book_lens
{
	text-align:left;
	position:absolute;
	left:10px;
	font-size:13px;
	font-family:arial;
	font-weight: bold;
}

#popup-border
{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}


.product_left_content
{
display:inline-block;
width:100%;
color:#fff;
padding:5px;
background-color:#c1272d;
margin-top:-10px;
}


.editContent
{
display:inline-block;width:80px;margin-left:22px;font-weight:bold;font-family:helvetica;color:#c1272d;
}

.editedContent
{
display:inline-block;font-weight:bold;width:252px;color:#0d77b6;
}


/*calendar designs*/

 #calendar
  {
      width:95%;
      font-size:12px;
      padding:0 10px;
      /*-webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
	  background:#f2f2f2;*/
     margin-left:0px;
     /*margin-top:10px;*/
  }
  .font-size-12px
  {
    font-size:12px;
  }
  .line-height-16px
  {
    line-height:16px
  }
  .padding-3px-0px
  {
    padding:3px 0px;
  }

.calHeader {width:11%;float:left; text-align:center; margin:0 1px;font-size:13px;font-family:helvetica;color:#C1272D}
.calColumn{
	color:#C1272D;
}
.curr {margin:0 1px;}
  .selectable
{
    text-align:center;
    cursor:pointer;
    font-weight:normal;
	background:white;
	color:#C1272D;
	border: 1px solid #C1272D;
	border-radius: 25px;
	/*background:#C1272D;
	color:white;*/

}
.nonselectable
{
    text-align:center;
    color:#ccc;
}

  .prev, .next{ margin:0 1px;}
  .today{font-weight:bolder;/*border:1px solid #333;*/ }


.green
{
    background-color:#c8ffc8;
    -moz-border-radius:5px;
      border-radius:5px;
      -webkit-border-radius:5px;
}

.red
{
	background-color:#C1272D;
	color: #EAD608;
	border:2px solid #EAD608;

}


.stDate
{
	background-color:#C1272D;
	color:black;
	font-weight:bold;

}

.endDate
{
    background-color:#C1272D;
    color:black;
    font-weight:bold;

}
.background-color-c1272d
{
  background-color:#c1272d !important;
}
.color-c1272d
{
  color: #c1272d !important;
}



#container-inner {
max-width: 880px;
overflow: hidden;
display: block;
padding: 50px;
margin: 50px auto;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
background: #ffffff;
}

.columnInfo {float:left;width:9%; border:1px solid #cfcfcf;font-size:15px;min-height:25px;}
.columnName{width:24%;}


 .rentShipAddr
 {
 display:inline-block;overflow:hidden;width:350px;height:250px;background:#f2f2f2;
 }


.sidebar {
	height: 100%;
}

.sidebar {
	background: #c1272d;
	width: 195px;
	border-right: solid 1px #c1272d;
	color: white;
}

.sidebar ul ul {
	display: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	list-style: none;
	line-height: 40px;
	cursor: pointer;
	width: 216px;
	text-align: center;
	border-bottom: solid 1px #ffbc04;
}

.sidebar ul li ul li a {
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  margin:5px 0px;
}
.font-size-13px
{
	font-size: 13px;
}
.line-height-36px
{
  line-height:36px;
}

.sidebar  ul li:hover {
	background: #ffbc04;
}

.sidebar ul li a i {
	float: right;
	margin-top: 12px;
}

.sub-menu {
	background: #74171b;
	margin-left: 20px;
}

/* account page FAQ style */
.menu_container {
    /*width: 660px;*/
    width:100%;
}
.menu_head {
    background: rgb(193, 39, 45);
    background-color: brown;
    color: white;
    cursor: pointer;
    font-family: helvetica;
    font-size: 13px;
    margin: 0 0 1px 0;
    padding: 7px 11px;
    font-weight: bold;

}

.menu_head.acc {
    background: url(images/red.png) brown;
    color: white;
    cursor: pointer;
    font-family: helvetica;
    font-size: 13px;
    margin: 0 0 1px 0;
    padding: 7px 11px;
    font-weight: bold;
    width:680px;
}
.menu_body {
    background: lightgray;
    font-family: helvetica;
    padding-left:20px;
    font-size:12.5px;
    padding: 5px;
    line-height: 22px;

 }

.menu_body.acc {
    background: lightgray;
    font-family: helvetica;
    padding-left:20px;
    font-size:12.5px;
    width:680px;
}

.menu_body p{
    padding: 5px;
    margin: 0px;
}
.plusminus{
    float:right;
}

/* end of FAQ */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 220px;
  font-family: Raleway, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #3ab4a6;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  color: #d8f3f0;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 3em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  width: 255px;
  margin-left: 33px;
  font-weight: bold;
}
.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border:none;
  background:none;
}
.dp-highlight .ui-state-default {
  background: #484;
  color: #FFF;
}
.ui-datepicker.ui-datepicker-multi  {
  width: 100% !important;
}
.ui-widget-header{
    background: #C1272D ;
}
.ui-widget { font-size: 100% }

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
    display: block;
}

#belowright {
  height: auto;
  width: 170px;
  /*float: left;*/
  margin-left: 10px;
  margin-top: 10px;
}
.accountBorderdesign {
  border: 1px solid red;
  border-radius: 5px;
  /* padding-top: 20px; */
  font-family: helvetica;
  background: #EEEEEE;
  margin-top: 60px;
}
.orderHeading {
  font-weight: bold;
  color: #c1272d;
  margin-left: 10px;
  font-family: helvetica;
  font-size: 15px;
  padding: 8px 0px;
}
.hrstyle {
  color: #f00;
  background-color: #f00;
  height: 1px;
  width: 152px;
  margin-left: 10px;
}
.custAccount {
  display: inline-block;
  float: left;

  font-family: helvetica;
  margin-left: 20px;
  /* background: red; */
}
#custName {
  font-family: helvetica;
  margin-top: 5px;
  font-size: 15px;
  color: #c1272c;
  font-weight: bold;
}
#symbols {
  margin-top: 5px;
}
#memberType {
  font-family: helvetica;
  margin-top: 5px;
  color: #c1272c;
  font-size: 15px;
}
.field {
  display: inline-block;

  margin-bottom: 5px;
  margin-left: 20px;
}
.accountAddressDiv {

  font-weight: bold;
  font-size: 13px;
  font-family: helvetica;
  color: #c1272d;

}
.filefield_design {
  /* width: 350px; */
  height: 22px;
  border-radius: 5px;
  /* margin-left: -20px; */
  font-family: helvetica;
}
#freezecontent {
  position: fixed;

  bottom: 0px;
  min-height: 40px;

  margin-left: 0px;

  background: #e6e6e6;
}
.trash
{
	color:#FFC305;
	padding:0px 15px 0px 0px;
}
.cartprice
{
	padding:0px 0px 0px 15px;
}
.prompading
{
	padding: 10px 35px;
}
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.legend td.unavailable{background:#c30;color: #FFF;}
.legend td.waiting {background:#A5DEA5;color: #FFF;}
.legend td.closed {background:#1c94c4;color:white;}
.legend td.dp-highlight {
  background: #484;
  color: #FFF;
}
.legend td {
	padding : 0px 10px;
}
.legend {margin: 10px 0px;}

.ui-datepicker td.unavailable>a{background:#c30;color: #FFF;}
.ui-datepicker td.unavailable{opacity:100;}

.ui-datepicker td.waiting>a{background:#A5DEA5;color: #FFF;}
.ui-datepicker td.waiting{opacity:100;}

.ui-datepicker td.closed>a{background:#1c94c4;color:white;}
.ui-datepicker td.closed{opacity:100;}

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {overflow: scroll;max-height:440px;overflow-x: hidden;  padding: 0px 15px;}

.ui-datepicker.table td span{
  font-size: 1.4em;
}

.font-family-helvetica
{
  font-family:helvetica !important;
}
.font-weight-bold
{
  font-weight:bold !important;
}
.color-c1272c
{
  color: #c1272c !important;
}
.color-5CB85C
{
  color:#5CB85C !important;
}
.padding-10px-0px
{
  padding:10px 0px !important;
}
.color-c53332
{
  color:#c53332 !important;
}
.border-top-2px-solid-C1272D
{
  border-top: 2px solid #C1272D !important;
}
.font-size-18px
{
  font-size:18px !important;
}
.padding-left-15px
{
  padding-left:15px !important;
}
.vertical-align-middle
{
  vertical-align:middle !important;
}
.border-right-2px-solid-C1272D
{
  border-right: 2px solid #C1272D !important;
}
.border-left-2px-solid-C1272D
{
  border-left: 2px solid #C1272D !important;
}
.color-0000FF
{
  color:#0000FF !important;
}
.margin-top--2px
{
  margin-top:-2px !important;
}
.margin-top-20px
{
  margin-top: 20px !important;
}
.background-color-fff
{
  background-color:#fff !important;
}
.border-bottom-none
{
  border-bottom:none !important
}
.background-74171b
{
  background: #74171b !important;
}
.border-radius-0px
{
  border-radius: 0px !important;
}
.background-c1272d
{
  background: #c1272d !important;
}
.margin-left-15px
{
  margin-left: -15px !important;
}
.margin-left-25px
{
  margin-left: 25px !important;
}
.margin-left-0px
{
  margin-left:0px !important;
}
.border-5px-solid-C1272D
{
  border: 5px solid #C1272D !important;
}
.height-100
{
  height:100% !important;
}
.margin-bottom-15px
{
  margin-bottom: 15px !important;
}
 .width-1005
 {
   width: 100.5% !important;
 }
 .border-bottom-0px
 {
  border-bottom: 0px !important;
 }
 .margin-left-10px
 {
  margin-left:10px !important;
 }
 .margin-left--10px
 {
  margin-left:-10px !important;
 }
 .width-63.5
 {
  width:63.5% !important;
 }
 .line-height-150
 {
  line-height:150% !important;
 }
 .font-size-14px
 {
  font-size:14px !important;
 }
 .margin-top-15px
 {
  margin-top:15px !important;
 }
 .padding-25px-0px-5px-5px
 {
  padding:25px 0px 5px 5px !important;
 }
 .padding-5px-0px-5px-5px
 {
  padding:5px 0px 5px 5px !important;
 }
 .font-size-15px
 {
  font-size:15px !important;
 }
 .padding-10px
 {
  padding: 10px !important;

 }
 .width-20
 {
  width:20% !important ;
 }
 .width-25
 {
  width:25% !important ;
 }
 .width-24-85
 {
  width:24.85% !important;
 }
 .width-63-5
 {
  width:63.5% !important;
 }
 .width-19-85
 {
  width:19.85% !important;
 }
 .padding-8px-0px
 {
  padding:8px 0px !important;
 }
 .margin-top-64px
 {
  margin-top:0px !important;
 }
 .textcenter
 {
  text-align: center !important;
 }
 .padding-0px-5px-0px-5px
 {
  padding:0px 5px 0px 5px !important;
 }
 .display-none
 {
  display:none !important;
 }
 .width-75
 {
  width: 75% !important;
 }
 .float-left
 {
  float:left !important;
 }
 .border-none
 {
  border:none !important;
 }
 .display-inline-block
 {
  display-inline:block !important;
 }
 .width-100px
 {
  width:100px !important;
 }
 .height-100px
 {
  height:100px;
 }
 .margin-top-20px
 {
  margin-top:20px !important;
 }
 .margin-0-10px-0-10px
 {
  margin: 0 10px 0 10px !important;
 }
 .overflow-hidden
 {
  overflow: hidden !important;
 }
 .height-100
 {
  height: 100% !important;
 }
 .margin-left--5px
 {
  margin-left:-5px !important;
 }
 .width-195px
 {
  width:195px !important;
 }
 .height-130px
 {
  height:130px !important;
 }
 .width-300px
 {
  width:300px !important;
 }
 .width-350px
 {
  width:350px !important;
 }
 .color-EAD608
 {
  color:#EAD608;
 }
 .height-575px
 {
  height: 575px !important;
 }

  .margin-top-10px
  {
     margin-top: 10px !important;
  }
  .width-33
  {
    width:33% !important;
  }
  .text-align-center
  {
    text-align: center !important;
  }
  .height-280px
  {
    height: 280px !important;
  }
  .width-85
  {
    width: 85% !important;
  }
  .height-295px
  {
    height:295px !important;
  }
  .height-368px
  {
    height:368px !important;
  }
  .display-table-cell
  {
    display:table-cell !important;
  }
  .display-table
  {
    display:table !important;
  }
  bottom-13px
  {
    bottom:13px !important;
  }
  .right-0
  {
    right:0 !important;
  }
  .left-0
  {
    left: 0 !important;
  }
  .width-95
  {
    width: 95% !important;
  }
  .padding-left-25px
  {
    padding-left:25px !important;
  }
  .padding-left-20px
  {
    padding-left:20px !important;
  }
  .padding-25-0px
  {
    padding:25% 0px !important;
  }
  .padding-top-2
  {
    padding-top:2% !important;
  }
  .border-top-none
  {
    border-top:none !important;
  }
  .width-140px
  {
    width:140px !important;
  }
  .background-EAD608
  {
    background: #EAD608 !important;
  }
  .margin-left-0px
  {
    margin-left:0px !important;
  }
  .padding-5px-5px
  {
    padding:5px 5px !important;
  }
  .height-350px
  {
    height:350px !important;
  }
  .font-size-30px
  {
    font-size:30px !important;
  }
  .margin-60px-auto
  {
    margin:60px auto !important;
  }
  .width-88
  {
    width:88% !important;
  }
  .background-color-7F7F7F
  {
    background-color:#7F7F7F !important;
  }
  .height-378px
  {
    height:378px !important;
  }
  .background-color-C1272D
  {
    background-color:#C1272D !important;
  }
  .position-fixed
  {
    position: fixed !important;
  }
  .top--39px
  {
    top: -39px !important;
  }
  .right--29px
  {
    right:-29px !important;
  }
  .font-weight-200
  {
    font-weight:200 !important;
  }
  .margin-bottom-5px
  {
    margin-bottom: 5px !important;
  }
